@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

.flight-card-container {
  width: 450px;
}

.flight-card-details {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.flight-date-and-status,
.flight-to-and-from,
.flight-departure-and-arrival,
.flight-name-and-number {
  display: flex;
  justify-content: space-between;
}

.to-from,
.departure-arrival {
  margin-bottom: 0;
  color: gray;
}

.departure-arrival {
  margin-top: 0;
}

.to-from-iata {
  margin-top: 0;
}

.departure-arrival-time {
  font-weight: bold;
  margin-top: 0;
}
