.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3 {
  margin-bottom: 0;
}

.travel-time {
  font-weight: bold;
  margin-bottom: 0;
}

.detail {
  margin-bottom: 3px;
  color: gray;
  font-size: small;
}
